.hover-zoom {
    transition: transform 0.3s;
}

.hover-zoom:hover {
    transform: scale(1.05);
}

 /* ----------------------------------------------------------------------------------------------------*/
 
 body {
    background-color: #EFEFEF;
    font-family: 'PT Sans';
}

/* ----------------------------------------------------------------------------------------------------*/

.col-md-4 {
    padding: 0px;
}

.col-md-4 img {
    height: 740px;
}

/* ----------------------------------------------------------------------------------------------------*/

.col-md-8{
    padding: 50px;
}

.col-md-8 h2{
    font-size: 45px;
    text-align: center;
    margin-bottom: 20px;
}

.col-md-8 h3{
    margin-bottom: 30px;
    margin-top: 20px;
}

.col-md-8 .input-group{
    width: 340px;
    height: 45px;
    margin-bottom: 30px;
    margin-left: 18px;
}

.custom-select{
    width: 360px;
    height: 45px;
    border-radius: 5px;
    padding: 8px;
    border: none;
    color: rgb(91, 91, 91);
}

.col-md-8 #nascimento{
    width: 360px;
    height: 45px;
    border-radius: 5px;
    padding: 8px;
    border: none;
    color: rgb(91, 91, 91);
}

.btn {
    width: 200px;
    height: 50px;
    border-radius: 15px;
    background-color: #b87bf4;
    color: white;
    font-size: 23px;
    margin-top: 20px;
    text-align: center;
}

.botao{
    text-align: center;
}

.btn:hover{
    background-color: #7f51a4;
    color: #EFEFEF;
}

.minha-div {
    display: none;
    background-color: #898989;
    color: #fff;
    width: 180px;
    height: 90px;
    border-radius: 10px;
    font-size: 22px;
    padding: 10px;
    margin-left: 660px;
    margin-top: -80px;
    text-align: center;
    position: absolute;
}

#ajuda{
    width: 20px;
    height: 20px;
}

.ajuda{
    width: 50px;
    margin-right: 45px;
}

.voltar{
    width: 50px;
    margin-left: 15px;
}

/* ----------------------------------------------------------------------------------------------------*/

#bola1{
    background-color: #b87bf4;
    height: 280px;
    width: 280px;
    border-radius: 50%;
    top: -100px;
    margin-left: -150px;
    margin-top: -40px;
    position: absolute;
}

#bola2{
    background-color: #7f51a4;
    height: 200px;
    width: 200px;
    border-radius: 50%;
    top: -100px;
    margin-left: 0px;
    margin-top: -20px;
    position: absolute;
}

/* ----------------------------------------------------------------------------------------------------*/

.footer{
    background-color: #EFEFEF;
    height: 300px;
    padding: 30px;
}

.footer .logo {
    font-size: 15px;
    font-family: 'DM Serif Display';
    color: #606060;
    text-align: center;
}

.footer .col h2{
    font-size: 20px;
    font-family: 'DM Serif Display';
    color: #515151;
}

.footer .col a{
    font-size: 15px;
    font-family: 'DM Serif Display';
    color: #515151;
    text-align: start;
    text-decoration: none;
}

.footer .col p{
    font-size: 15px;
    font-family: 'DM Serif Display';
    color: #515151;
    text-align: start;
    text-decoration: none;
}

.contatos ul li{
    padding: 10px;
}