.hover-zoom {
    transition: transform 0.3s;
}

.hover-zoom:hover {
    transform: scale(1.05);
}

 /* ----------------------------------------------------------------------------------------------------*/
 
 body {
    background-color: #F9F9F9;
    font-family: 'PT Sans';
}

/* ----------------------------------------------------------------------------------------------------*/

