.hover-zoom {
    transition: transform 0.3s;
}

.hover-zoom:hover {
    transform: scale(1.05);
}

 /* ----------------------------------------------------------------------------------------------------*/
 
 body {
    background-color: #EFEFEF;
    font-family: 'PT Sans';
}

/* ----------------------------------------------------------------------------------------------------*/

.col-sm{
    opacity: 60%;
    background-color: #c8c8c8;
    height: 500px;
    display: flex;
    justify-content: center; 
}