.hover-zoom {
    transition: transform 0.3s;
}

.hover-zoom:hover {
    transform: scale(1.05);
}

 /* ----------------------------------------------------------------------------------------------------*/
 
 body {
    background-color: #EFEFEF;
    font-family: 'PT Sans';
}

/* ----------------------------------------------------------------------------------------------------*/

.row .col-sm-4{
    display: flex;
    flex-flow: column;
    height: 100vh;
    background-color: #EFEFEF;
    text-align: center;
}

.row .col-sm-8{
    margin: 0px;
    padding: 0px;
    height: auto;
}

.home{
    border: none;
    width: 250px;
}

.input-group {
    width: 360px;
    height: 45px;
    margin-bottom: 15px;
    margin-left: 60px;
}

.custom-select{
    width: 560px;
    height: 45px;
    margin-top: 15px;
    margin-left: 0px;
    border-radius: 5px;
    padding: 8px;
    border: none;
    color: rgb(91, 91, 91);
}

.btn {
    width: 200px;
    height: 40px;
    border-radius: 15px;
    background-color: #b87bf4;
    color: white;
    font-size: 18px;
    margin-left: 140px;
    margin-top: 20px;
    margin-bottom: 20px;
}

.btn:hover{
    background-color: #7f51a4;
}

/*----------------------------------------------------------------------------------------------------*/

#bola1{
    background-color: #7f51a4;
    height: 250px;
    width: 250px;
    border-radius: 50%;
    top: 10px;
    margin-left: 380px;
    clip-path: polygon(0 0, 50% 0, 50% 100%, 0 100%);
    transform: rotate(360deg);
    position: absolute;
}

#bola2{
    background-color: #b87bf4;
    height: 280px;
    width: 280px;
    border-radius: 50%;
    top: -100px;
    margin-left: -90px;
    position: absolute;
}

#bola3{
    background-color: #7f51a4;
    height: 180px;
    border-radius: 50%;
    top: 650px;
    width: 250px;
    margin-left: 130px;
    clip-path: polygon(0 0, 100% 0, 100% 50%, 0 50%);
    position: absolute;
}

/* ----------------------------------------------------------------------------------------------------*/

.footer{
    background-color: #EFEFEF;
    height: 300px;
    padding: 30px;
}

.footer .logo {
    font-size: 15px;
    font-family: 'DM Serif Display';
    color: #606060;
    text-align: center;
}

.footer .col h2{
    font-size: 20px;
    font-family: 'DM Serif Display';
    color: #515151;
}

.footer .col a{
    font-size: 15px;
    font-family: 'DM Serif Display';
    color: #515151;
    text-align: start;
    text-decoration: none;
}

.footer .col p{
    font-size: 15px;
    font-family: 'DM Serif Display';
    color: #515151;
    text-align: start;
    text-decoration: none;
}

.contatos ul li{
    padding: 10px;
}